/* External styling is used to keep consistency throughout the entire website */
#styledById {
  font-family: Georgia, Cambria, serif;
  font-weight: bold;
}
.nav-link {
  padding: 5px;
  margin: 4px;
  border: 2px;
  border: 1px solid black;
  background-color: #daebeb;
  color: rgb(0, 52, 82);
}
.nav-link li {
  display: inline-block;
}
ul {
  list-style: none;
}
li {
  padding: 5px;
  margin: 4px;
  font-size: 20px;
}
body {
  background-color: rgb(255, 254, 241);
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 2%;
  margin-right: 5%;
  -o-animation: fade-in 1s ease-in 0.5s forwards;
  -moz-animation: fade-in 1s ease-in 0.5s forwards;
  -webkit-animation: fade-in 1s ease-in 0.5s forwards;
  animation: fade-in 1s ease-in 0.5s forwards;
  /* fade-in is animation name, 1s is animation duration, ease-in is animation timing function, 
  0.2 is animation delay, forwards is animation direction*/
  position: relative;
  top: 200px;
  opacity: 0;
}
@keyframes fade-in {
  /* from {
          position: relative;
          top: 200px;
          opacity: 0;
        } 
        An alternate way of defining the beginning of the animation. */
  to {
    top: 0;
    opacity: 1;
  }
}
nav a:hover,
nav a:focus {
  background-color: #f0f8ff;
  color: #00549e;
}
nav a li {
  /* Changes all list items in the nav so that they will display beside one another, but still be affected by Box model properties.      */
  display: inline-block;
  /* Adds spacing around the outside of an element. */
  margin: 4px;
  /* Adds spacing on the inside of an element. */
  padding: 5px;
  font-size: 20px;
}
h1 {
  text-align: center;
  font-size: 45px;
  color: #a16100;
}
h2 {
  font-size: 25px;
  color: #a16100;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transform: matrix();
}
p {
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* Times New Roman is my favorite font because its familiar and professional. */
  line-height: 42px;
  color: rgb(0, 52, 82);
}
img {
  visibility: hidden;
  float: right;
  -o-animation: fade-in-late 1s ease-in 2s forwards;
  -moz-animation: fade-in-late 1s ease-in 2s forwards;
  -webkit-animation: fade-in-late 1s ease-in 2s forwards;
  animation: fade-in-late 1s ease-in 2s forwards;
}
@keyframes fade-in-late {
  from {
    transform: skew(90deg, 90deg);
    /* Discovered this result on pure accident, it looks AWESOME. */
    opacity: 0;
  }
  to {
    transform: skew(0deg, 0deg);
    opacity: 1;
    visibility: visible;
  }
}
/* Contrast Ratio of body and p: 12.83:1 */
/* Contrast Ratio of body and h1: 4:89:1 */
